.count {
  background-color: aqua;
  padding: 20px;
}
.regiter {
  background-color: blueviolet;
  color: white;
  padding: 20px;
}
.darkbox {
  background-color: blue;
}
.fielduseState {
  margin: 500px;
  padding: 100px;
}

/* uesref */
.image-box {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  background-color: aqua;
  cursor: pointer;
}
.image-img {
  width: 200px;
  height: 200px;
  border: 3px solid black;
  /* background-color: aqua; */
  cursor: pointer;
}

/* useContext */

.light {
  padding: 20px;
  border: 5px solid black;
  background-color: white;
}
.black {
  padding: 20px;
  border: 5px solid red;
  background-color: rgb(0, 0, 0);
  color: white;
}
